@model Product
@{
    ViewData["Title"] = "DeleteProduct";
}

<form method="post" asp-action="DeleteProduct">
    <div class="border p-3 mb-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control" disabled />
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" disabled />
        </div>

        <div class="mb-3">
            <label asp-for="Quantity"></label>
            <input asp-for="Quantity" class="form-control" disabled />
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" style="width:150px">Delete</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">Go Back</a>
        </div>
    </div>
</form>

 